@model int
<div class="panel panel-warning">
    <div class="panel-heading">
        Comments
        <a id="CreateComment" class="pull-right btn btn-link">
            <i class="fas fa-pen fa-fw"></i> New
        </a>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

        <form id="CreateForm" style="display: none">
            @Html.AntiForgeryToken()
            <input type="hidden" id="TicketId" name="TicketId" value=@Model class="form-control" />
            <textarea id="Content" name="Content" rows="5" class="form-control"></textarea>
            <span id="CreateFormError" class="text-danger"></span>
            <br />
            <input id="SubmitBtn" type="submit" value="Submit" class="btn btn-default" />
            <hr />
        </form>

        <ul id="CommentList" class="list-unstyled"></ul>
    </div>
</div>

<template id="listItem">
    <li class="comment-list-item">
        <div class="well well-sm">
            <div class="header">
                <strong class="primary-font comment-author"></strong>
                <small class="pull-right text-muted">
                    <span class="comment-updated"></span>&emsp;<span class="comment-created"></span>
                </small>
            </div>
            <p class="comment-content break-word"></p>
            <form class="edit-form" style="display: none">
                <textarea name="Content" rows="5" class="form-control"></textarea>
                <span class="edit-form-error text-danger"></span>
                <br />
                <input type="submit" value="Submit" class="btn btn-default btn-sm" />
                <input type="button" value="Cancel" class="btn btn-default btn-sm cancel" />
            </form>
            <form class="delete-form text-danger" style="display: none">
                Are you sure you want to delete this?
                <br />
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                <input type="button" value="Cancel" class="btn btn-default btn-sm cancel" />
            </form>
            <div class="buttons" style="display: none">
                <button class="edit-button btn-link"><i class="fas fa-edit"></i></button>
                <button class="delete-button btn-link"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </li>
</template>

<script type="text/javascript">
    const commentListUrl = '@Url.Action("CommentList", "Comments")';
    const submitCommentUrl = '@Url.Action("Create", "Comments")';
    const deleteCommentUrl = '@Url.Action("Delete", "Comments")';
    const editCommentUrl = '@Url.Action("Edit", "Comments")';
    const ticketId= "@Model"
</script>
<script type="text/javascript" src="~/Scripts/BugTracker.Comment.js"></script>

