@model IEnumerable<BugTracker.ViewModels.TicketViewModel>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/DataTables/css")

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="ticketList" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Created)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PriorityName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.AssigneeName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.NumberOfRevisions)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.NumberOfAttachments)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.NumberOfComments)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProjectName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.Id })">
                        @Html.DisplayFor(m => item.Id)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.Id })">
                        @Html.DisplayFor(m => item.Subject)
                    </a>
                </td>
                <td>

                    @item.Created.ToString("yy-MM-dd HH:mm")
                </td>
                <td>
                    @if (item.Updated.HasValue)
                    {
                        @item.Updated.Value.ToString("yy-MM-dd HH:mm")
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PriorityName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AssigneeName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NumberOfRevisions)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NumberOfAttachments)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NumberOfComments)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProjectName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    <script>
    $('#ticketList').DataTable();
    </script>
}