@model BugTracker.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "User Profile";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <i class="fas fa-user orange"></i>
                @Html.DisplayFor(m => m.UserName)
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(m => m.DisplayName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.DisplayName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.Roles)
                    </dt>
                    <dd>
                        @Html.Raw(string.Join(", ", Model.Roles))
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.AssignedProjects)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.AssignedProjects)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.CreatedTickets)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.CreatedTickets)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.AssignedTickets)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.AssignedTickets)
                    </dd>
                </dl>
                <hr />
                @if (User.Identity.Name == Model.UserName)
                {
                    <a href=@Url.Action("EditProfile", "Manage") title="Edit Profile">
                        <i class="fas fa-user-edit fa-fw"></i> Edit Profile
                    </a>
                }
            </div>
        </div>
    </div>
</div>
