@model BugTracker.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Admin") ||
            User.IsInRole("Project Manager") ||
            User.IsInRole("Developer") ||
            User.IsInRole("Submitter"))
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3 dashboard-icon-wrapper">
                                <i class="fas fa-folder fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(m => m.MyProjects)</div>
                                <div>
                                    My Projects
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("MyProjects", "Projects")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (User.IsInRole("Project Manager") ||
            User.IsInRole("Developer"))
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3 dashboard-icon-wrapper">
                                <i class="fas fa-file-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(m => m.ProjectsTickets)</div>
                                <div>
                                    From My Projects
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("FromMyProjects", "Tickets")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (User.IsInRole("Developer"))
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3 dashboard-icon-wrapper">
                                <i class="fas fa-file-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(m => m.AssignedTickets)</div>
                                <div>
                                    Assigned To Me
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("AssignedToMe", "Tickets")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (User.IsInRole("Submitter"))
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3 dashboard-icon-wrapper">
                                <i class="fas fa-file-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(m => m.CreatedTickets)</div>
                                <div>
                                    Posted By Me
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("CreatedByMe", "Tickets")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    @if (Model.TicketUpdates.Any())
    {
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Ticket Updates
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        @foreach (var item in Model.TicketUpdates)
                        {
                            <a href="@Url.Action("Details", "Tickets", new { id = item.TicketId })" class="list-group-item">
                                <div class="header break-word">
                                    <strong class="primary-font">@Html.DisplayFor(m => item.TicketSubject)</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i>@Html.Raw(item.Created.ToString("yy-MM-dd HH:mm"))
                                    </small>
                                </div>
                                <div class="dark-green">@Html.DisplayFor(m => item.UserDisplayName)</div>
                                @foreach (var detail in item.Details)
                                {
                                    <div class="break-word">
                                        @if (detail.Property == "Description")
                                        {
                                            @Html.Raw("Modified ")@Html.DisplayFor(m => detail.Property);
                                        }
                                        else if (detail.Property == "Attachment")
                                        {
                                            if (!string.IsNullOrWhiteSpace(detail.OldValue))
                                            {
                                                @Html.Raw($"Removed {detail.Property} <i>{detail.OldValue}</i>")<br />
                                            }
                                            if (!string.IsNullOrWhiteSpace(detail.NewValue))
                                            {
                                                @Html.Raw($"Added {detail.Property} <i>{detail.NewValue}</i>")
                                            }
                                        }
                                        else
                                        {
                                            @Html.Raw($"Modified {detail.Property} from <i>{detail.OldValue}</i> to <i>{detail.NewValue}</i>")
                                        }
                                    </div>
                                }
                            </a>
                        }
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    }
    @if (Model.NewAssignedTickets.Any())
    {
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    New Assigned Tickets
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        @foreach (var item in Model.NewAssignedTickets)
                        {
                            <a href="@Url.Action("Details", "Tickets", new { id = item.Id })" class="list-group-item"
                               title="Project: @item.ProjectName &#10;Category: @item.CategoryName &#10;Status: @item.StatusName &#10;Priority: @item.PriorityName">
                                <div class="header break-word">
                                    <strong class="primary-font">@Html.DisplayFor(m => item.Subject)</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i>@Html.Raw(item.LastUpdated.ToString("yy-MM-dd HH:mm"))
                                    </small>
                                </div>
                            </a>
                        }
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    }
</div>