@model BugTracker.ViewModels.ChangeMemberViewModel
@{
    ViewBag.Title = "Edit Members";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                [@Html.DisplayFor(m => m.Project.Name)]&nbsp;
                @Html.DisplayNameFor(m => m.Members)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().DisplayName)</th>
                                <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().UserName)</th>
                                <th>&emsp;&emsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Members)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.DisplayName)</td>
                                    <td>@Html.DisplayFor(m => item.UserName)</td>
                                    <td>@Html.ActionLink("Remove", "RemoveMember", new { projectId = Model.Project.Id, userId = item.Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                @Html.DisplayNameFor(m => m.Users)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().DisplayName)</th>
                                <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().UserName)</th>
                                <th>&emsp;&emsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.DisplayName)</td>
                                    <td>@Html.DisplayFor(m => item.UserName)</td>
                                    <td>@Html.ActionLink("Add", "AddMember", new { projectId = Model.Project.Id, userId = item.Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>