@model BugTracker.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Project Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.DisplayFor(m => m.Name)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    @Html.Raw(Model.Description)
                </p>
                <p>
                    <i class="fas fa-user-friends orange"></i>&nbsp;
                    @Html.DisplayNameFor(m => m.NumberOfMembers)
                    @Html.DisplayFor(m => m.NumberOfMembers)
                    &emsp;
                    <i class="fas fa-file-alt red"></i>&nbsp;
                    @Html.DisplayNameFor(m => m.NumberOfTickets)
                    @Html.DisplayFor(m => m.NumberOfTickets)
                </p>
                <hr />

                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                    <a href=@Url.Action("Edit", new { id = Model.Id}) title="Edit Project">
                        <i class="fas fa-edit fa-fw"></i> Edit
                    </a>
                    @Html.Raw("&emsp;")
                    <a href=@Url.Action("ChangeMember", new { id = Model.Id}) title="Edit Members">
                        <i class="fas fa-user-friends fa-fw"></i> Members
                    </a>
                }
                @if (User.IsInRole("Admin"))
                {
                    @Html.Raw("&emsp;")
                    <a href=@Url.Action("Delete", new { id = Model.Id}) title="Delete Project">
                        <i class="fas fa-trash-alt fa-fw"></i> Delete
                    </a>
                }

            </div>
        </div>
    </div>
</div>




